:root {
  --terminal-font-color: #b0b2b6;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.portfolio {
  margin-top: 54px;
}

.terminal {
  background: #0d0f17;
  color: var(--terminal-font-color);
  border-radius: 10px;
  overflow: hidden;
  font-family: 'Monaco', Consolas, Lucida Console, monospace;
}

.terminalBar {
  background-color: #eae8e9;
  display: flex;
  position: relative;
}

.terminalWindow {
  min-height: 254px;
  max-height: 60vh;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.directory {
  color: #75e1e7;
  font-weight: 500;
}

.success {
  color: #8dd39e;
}

.code,
.error,
.social,
.fa-heart {
  color: #4069f9;
}

.userInput {
  position: relative;
}

.userInput::after {
  display: block;
  content: '';
  width: 5px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  right: -10px;
  animation: blink 1s step-start 0s infinite;
}

.input {
  opacity: 0;
  filter: alpha(opacity=0);
}
